APIItlgOmnicanal/src/wsdl/172.18.10.34_9090/WSVision360Temenos/services.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://172.18.10.34:9090/WSVision360Temenos/services?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="http://172.18.10.34:9090/WSVision360Temenos/services?xsd=2" />
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs" />
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse" />
</message>
<message name="TmnV360PortfolioList">
<part name="parameters" element="tns:TmnV360PortfolioList" />
</message>
<message name="TmnV360PortfolioListResponse">
<part name="parameters" element="tns:TmnV360PortfolioListResponse" />
</message>
<message name="TmnV360GlobalInvestmentDetail">
<part name="parameters" element="tns:TmnV360GlobalInvestmentDetail" />
</message>
<message name="TmnV360GlobalInvestmentDetailResponse">
<part name="parameters" element="tns:TmnV360GlobalInvestmentDetailResponse" />
</message>
<message name="TmnV360PortfolioDetails">
<part name="parameters" element="tns:TmnV360PortfolioDetails" />
</message>
<message name="TmnV360PortfolioDetailsResponse">
<part name="parameters" element="tns:TmnV360PortfolioDetailsResponse" />
</message>
<message name="TmnV360CustSummaryPosition">
<part name="parameters" element="tns:TmnV360CustSummaryPosition" />
</message>
<message name="TmnV360CustSummaryPositionResponse">
<part name="parameters" element="tns:TmnV360CustSummaryPositionResponse" />
</message>
<message name="TmnV360CustDetailsPosition">
<part name="parameters" element="tns:TmnV360CustDetailsPosition" />
</message>
<message name="TmnV360CustDetailsPositionResponse">
<part name="parameters" element="tns:TmnV360CustDetailsPositionResponse" />
</message>
<message name="TmnV360Contingents">
<part name="parameters" element="tns:TmnV360Contingents" />
</message>
<message name="TmnV360ContingentsResponse">
<part name="parameters" element="tns:TmnV360ContingentsResponse" />
</message>
<message name="TmnV360OutstandingTrans">
<part name="parameters" element="tns:TmnV360OutstandingTrans" />
</message>
<message name="TmnV360OutstandingTransResponse">
<part name="parameters" element="tns:TmnV360OutstandingTransResponse" />
</message>
<message name="TmnV360TradingAccountDetails">
<part name="parameters" element="tns:TmnV360TradingAccountDetails" />
</message>
<message name="TmnV360TradingAccountDetailsResponse">
<part name="parameters" element="tns:TmnV360TradingAccountDetailsResponse" />
</message>
<message name="TmnV360LoanDetails">
<part name="parameters" element="tns:TmnV360LoanDetails" />
</message>
<message name="TmnV360LoanDetailsResponse">
<part name="parameters" element="tns:TmnV360LoanDetailsResponse" />
</message>
<message name="TmnV360AccountDetails">
<part name="parameters" element="tns:TmnV360AccountDetails" />
</message>
<message name="TmnV360AccountDetailsResponse">
<part name="parameters" element="tns:TmnV360AccountDetailsResponse" />
</message>
<message name="TmnV360DepositDetails">
<part name="parameters" element="tns:TmnV360DepositDetails" />
</message>
<message name="TmnV360DepositDetailsResponse">
<part name="parameters" element="tns:TmnV360DepositDetailsResponse" />
</message>
<message name="TmnV360SharesDetails">
<part name="parameters" element="tns:TmnV360SharesDetails" />
</message>
<message name="TmnV360SharesDetailsResponse">
<part name="parameters" element="tns:TmnV360SharesDetailsResponse" />
</message>
<message name="TmnV360BondDetails">
<part name="parameters" element="tns:TmnV360BondDetails" />
</message>
<message name="TmnV360BondDetailsResponse">
<part name="parameters" element="tns:TmnV360BondDetailsResponse" />
</message>
<message name="TmnV360TradingAccountMovements">
<part name="parameters" element="tns:TmnV360TradingAccountMovements" />
</message>
<message name="TmnV360TradingAccountMovementsResponse">
<part name="parameters" element="tns:TmnV360TradingAccountMovementsResponse" />
</message>
<message name="TmnV360FundsDetails">
<part name="parameters" element="tns:TmnV360FundsDetails" />
</message>
<message name="TmnV360FundsDetailsResponse">
<part name="parameters" element="tns:TmnV360FundsDetailsResponse" />
</message>
<message name="TmnV360StructProdDetails">
<part name="parameters" element="tns:TmnV360StructProdDetails" />
</message>
<message name="TmnV360StructProdDetailsResponse">
<part name="parameters" element="tns:TmnV360StructProdDetailsResponse" />
</message>
<message name="TmnV360AccountMovement">
<part name="parameters" element="tns:TmnV360AccountMovement" />
</message>
<message name="TmnV360AccountMovementResponse">
<part name="parameters" element="tns:TmnV360AccountMovementResponse" />
</message>
<message name="TmnV360AccountBal">
<part name="parameters" element="tns:TmnV360AccountBal" />
</message>
<message name="TmnV360AccountBalResponse">
<part name="parameters" element="tns:TmnV360AccountBalResponse" />
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs" />
<output message="tns:callOfsResponse" />
</operation>
<operation name="TmnV360PortfolioList">
<input message="tns:TmnV360PortfolioList" />
<output message="tns:TmnV360PortfolioListResponse" />
</operation>
<operation name="TmnV360GlobalInvestmentDetail">
<input message="tns:TmnV360GlobalInvestmentDetail" />
<output message="tns:TmnV360GlobalInvestmentDetailResponse" />
</operation>
<operation name="TmnV360PortfolioDetails">
<input message="tns:TmnV360PortfolioDetails" />
<output message="tns:TmnV360PortfolioDetailsResponse" />
</operation>
<operation name="TmnV360CustSummaryPosition">
<input message="tns:TmnV360CustSummaryPosition" />
<output message="tns:TmnV360CustSummaryPositionResponse" />
</operation>
<operation name="TmnV360CustDetailsPosition">
<input message="tns:TmnV360CustDetailsPosition" />
<output message="tns:TmnV360CustDetailsPositionResponse" />
</operation>
<operation name="TmnV360Contingents">
<input message="tns:TmnV360Contingents" />
<output message="tns:TmnV360ContingentsResponse" />
</operation>
<operation name="TmnV360OutstandingTrans">
<input message="tns:TmnV360OutstandingTrans" />
<output message="tns:TmnV360OutstandingTransResponse" />
</operation>
<operation name="TmnV360TradingAccountDetails">
<input message="tns:TmnV360TradingAccountDetails" />
<output message="tns:TmnV360TradingAccountDetailsResponse" />
</operation>
<operation name="TmnV360LoanDetails">
<input message="tns:TmnV360LoanDetails" />
<output message="tns:TmnV360LoanDetailsResponse" />
</operation>
<operation name="TmnV360AccountDetails">
<input message="tns:TmnV360AccountDetails" />
<output message="tns:TmnV360AccountDetailsResponse" />
</operation>
<operation name="TmnV360DepositDetails">
<input message="tns:TmnV360DepositDetails" />
<output message="tns:TmnV360DepositDetailsResponse" />
</operation>
<operation name="TmnV360SharesDetails">
<input message="tns:TmnV360SharesDetails" />
<output message="tns:TmnV360SharesDetailsResponse" />
</operation>
<operation name="TmnV360BondDetails">
<input message="tns:TmnV360BondDetails" />
<output message="tns:TmnV360BondDetailsResponse" />
</operation>
<operation name="TmnV360TradingAccountMovements">
<input message="tns:TmnV360TradingAccountMovements" />
<output message="tns:TmnV360TradingAccountMovementsResponse" />
</operation>
<operation name="TmnV360FundsDetails">
<input message="tns:TmnV360FundsDetails" />
<output message="tns:TmnV360FundsDetailsResponse" />
</operation>
<operation name="TmnV360StructProdDetails">
<input message="tns:TmnV360StructProdDetails" />
<output message="tns:TmnV360StructProdDetailsResponse" />
</operation>
<operation name="TmnV360AccountMovement">
<input message="tns:TmnV360AccountMovement" />
<output message="tns:TmnV360AccountMovementResponse" />
</operation>
<operation name="TmnV360AccountBal">
<input message="tns:TmnV360AccountBal" />
<output message="tns:TmnV360AccountBalResponse" />
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="callOfs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360PortfolioList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360GlobalInvestmentDetail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360PortfolioDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360CustSummaryPosition">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360CustDetailsPosition">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360Contingents">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360OutstandingTrans">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360TradingAccountDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360LoanDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360AccountDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360DepositDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360SharesDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360BondDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360TradingAccountMovements">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360FundsDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360StructProdDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360AccountMovement">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360AccountBal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.18.10.34:9090/WSVision360Temenos/services" />
</port>
</service>
</definitions>