APIItlgOmnicanal/src/main/java/META-INF/services.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="T24WebServicesImpl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="T24WebServicesImpl" name="T24WebServicesImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://172.18.11.36:8530/TMS.ENQ.SERVICES.LIST.SINGLEEB/services?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="T24WebServicesImpl" schemaLocation="http://172.18.11.36:8530/TMS.ENQ.SERVICES.LIST.SINGLEEB/services?xsd=2" />
</xsd:schema>
</types>
<message name="callOfs">
<part name="parameters" element="tns:callOfs" />
</message>
<message name="callOfsResponse">
<part name="parameters" element="tns:callOfsResponse" />
</message>
<message name="TmnV360PortfolioList">
<part name="parameters" element="tns:TmnV360PortfolioList" />
</message>
<message name="TmnV360PortfolioListResponse">
<part name="parameters" element="tns:TmnV360PortfolioListResponse" />
</message>
<message name="TmnV360PortfolioDetails">
<part name="parameters" element="tns:TmnV360PortfolioDetails" />
</message>
<message name="TmnV360PortfolioDetailsResponse">
<part name="parameters" element="tns:TmnV360PortfolioDetailsResponse" />
</message>
<message name="TmnV360GlobalInvestmentDetail">
<part name="parameters" element="tns:TmnV360GlobalInvestmentDetail" />
</message>
<message name="TmnV360GlobalInvestmentDetailResponse">
<part name="parameters" element="tns:TmnV360GlobalInvestmentDetailResponse" />
</message>
<message name="ITLGINTSECMASTLIST">
<part name="parameters" element="tns:ITLGINTSECMASTLIST" />
</message>
<message name="ITLGINTSECMASTLISTResponse">
<part name="parameters" element="tns:ITLGINTSECMASTLISTResponse" />
</message>
<message name="TmnV360CustSummaryPosition">
<part name="parameters" element="tns:TmnV360CustSummaryPosition" />
</message>
<message name="TmnV360CustSummaryPositionResponse">
<part name="parameters" element="tns:TmnV360CustSummaryPositionResponse" />
</message>
<portType name="T24WebServicesImpl">
<operation name="callOfs">
<input message="tns:callOfs" />
<output message="tns:callOfsResponse" />
</operation>
<operation name="TmnV360PortfolioList">
<input message="tns:TmnV360PortfolioList" />
<output message="tns:TmnV360PortfolioListResponse" />
</operation>
<operation name="TmnV360PortfolioDetails">
<input message="tns:TmnV360PortfolioDetails" />
<output message="tns:TmnV360PortfolioDetailsResponse" />
</operation>
<operation name="TmnV360GlobalInvestmentDetail">
<input message="tns:TmnV360GlobalInvestmentDetail" />
<output message="tns:TmnV360GlobalInvestmentDetailResponse" />
</operation>
<operation name="ITLGINTSECMASTLIST">
<input message="tns:ITLGINTSECMASTLIST" />
<output message="tns:ITLGINTSECMASTLISTResponse" />
</operation>
<operation name="TmnV360CustSummaryPosition">
<input message="tns:TmnV360CustSummaryPosition" />
<output message="tns:TmnV360CustSummaryPositionResponse" />
</operation>
</portType>
<binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="callOfs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360PortfolioList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360PortfolioDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360GlobalInvestmentDetail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ITLGINTSECMASTLIST">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TmnV360CustSummaryPosition">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="T24WebServicesImplService">
<port name="T24WebServicesImplPort" binding="tns:T24WebServicesImplPortBinding">
<soap:address location="http://172.18.11.36:8530/TMS.ENQ.SERVICES.LIST.SINGLEEB/services" />
</port>
</service>
</definitions>